body {
    background-color: beige;
    background-image: url(Zwood.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}


h1 {
    font-size: 300%;
    text-shadow: 2px 2px gray;
    margin-left: 70px;

}

h2 {
    font-size: 150%;
    margin-left: 1075px;
    margin-top: -60px;
    text-shadow: 2px 2px gray;
}

h3 {
    font-size: 150%;
    margin-left: 1250px;
    margin-top: -48px;
    text-shadow: 2px 2px gray;
}

h4 {
    font-size: 150%;
    margin-left: 1370px;
    margin-top: -51px;
    text-shadow: 2px 2px gray;


}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: beige;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: beige;
    background-color: transparent;
    text-decoration: underline;
}



.container2 {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-left: 175px;
    margin-top: 100px;
}

h5 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    margin-left: 0px;
    
    
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.Map    {

    margin-left: 850px;
    margin-top: -550px;
   
}


p{
font-size: 175%;
text-align: left;
text-shadow: 1px 1px grey;
}
